extends ../layout/layout.pug

block form
    form(action="/productos" method="post" class="form-label")
        label(for="title" class="form-label") Title 
        input(type="text" id="title" name="title" class="form-control")
        label(for="price" class="form-label") Price
        input(type="text" id="price" name="price" class="form-control")   
        label(for="thumbnail" class="form-label") Thumbnail 
        input(type="text" id="thumbnail" name="thumbnail" class="form-control")   
        input(type="submit" class="btn btn-primary")
    a(href="/productos") Listado de Productos 