extends ../layout/layout.pug

block list
    if productos.length > 0
        table(class="table table-striped") 
            thead
                tr
                    th ID
                    th Nombre 
                    th Precio 
                    th Foto 
                tbody
                each producto in productos
                    tr
                        td  #{producto.id}
                        td  #{producto.title}
                        td  #{producto.price}
                        td  
                            img(src=producto.thumbnail width="50px")
    else
        h2 No se encontraron productos
    a(href="/") Agregar Producto 